@import "global/variables.module.scss";
@import "global/mixins.scss";

.container {
    height: 90vh;
}

.content {
    display: flex;
    padding: 50px 100px;
    height: 100%;
    .VideoTextCont {
        flex-grow: 2;
        padding-right: 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .mainVideoCont {
            flex-grow: 5;
        }
        .textContentCont {
            flex-grow: 1;
            padding-top: 15px;
        }
    }
    .videoListCont {
        flex-grow: 1;
    }
}